:root {
  --color-red: #ff868e;
  --color-green: #97eab9;
  --color-yellow: #ffd280;
  --color-blue: #b4b7ff;
  --color-white: #f8f8f7;
  --color-black: #1d1d1d;
  --color-bg-red: #fbe0dc;
  --color-bg-black: rgba(255, 255, 255, 0.1);
}
